*{
  padding: 0px;
  margin: 0px;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


body{
  font-family: sans-serif;
  min-height: 100vh;
}

nav a{
  text-decoration: none;
  color: white;
}

nav a:hover{
  text-decoration: none;
  color: white;
}

nav li{
  list-style: none;
}

ul{
  margin: 0px;
}

nav{
  width: 100%;
  position: fixed;
  min-height: 62px;
  background: transparent;
  z-index: 500;
}

nav .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

li{
  margin: 0px 10px;
  font-size: 17.5px;
  text-decoration: none;
  font-weight: 400;
}

.navTitle{
  font-size: 25px;
}

.navButs{
  display: flex;
}

.nav-scrolling{
  background-color: #fff;
  box-shadow: 0px 5px 15px -5px #00000070;
}

.but-scrolling{
  color: black;
}

.but-scrolling:hover{
  color: black;
}

nav .active{
  color: #00B16A;
}

.introduction{
  background-image: url(./assets/overnature.net-863.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.introductionTitle{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  z-index: 2;
  
}
.introductionTitleText{
  color: white;
  font-family: sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  height: 5rem;
  opacity: 1;
}

.introductionTitleTextSmall{
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: -30px;
  width: 100%;
  height: 5rem;
  opacity: 1;
}

.btncontainer{
  display: none;
  margin-top: 40px;
}

.downloadBut{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 48px;
    width: auto;
    color: #0067f4;
    cursor: pointer;
    z-index: 5;
    position: relative;
    text-transform: uppercase;
    border-radius: 50px;
    color: #fff;
    background: #00B16A;
    border: 2px solid #00B16A;
    outline: none;
    transition: all 0.25s ease;
    text-decoration: none;
  }

  .downloadBut:hover{
    background-color: #019a5d;
    border: 2px solid #019a5d
  }

  .fa-chevron-down{
    position: absolute;
    bottom: 30px;
    left: calc(50vw - 25px);
    font-size: 50px;
    color: white;
  }

.section {
  padding: 100px 0 10px 0;
  font-family: 'Raleway', sans-serif;
}

.heading::before {
  content: '';
  height: 10px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  background: #00B16A;
}

.heading{
  margin-bottom: 2rem;
}

.heading > h1 {
  font-size: 28px;
  font-weight: 600;
}
.heading > h2 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
}
.wrapper {
  margin-top: 25px;
}

.aboutIntro{
  display: grid;
  grid-template-columns: 40% 57%;
  grid-column-gap: 2rem;
}

.profilePic{
  background-image: url(./assets/me.jpg);
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4rem;
}

.section.about{
  font-family: 'Raleway', sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

.section.about .icon {
  font-size: 50px;
  color: #00B16A;
  margin-bottom: 5px;
}

.section.about h6 {
  font-size: 18px;
  font-weight: 600;
}

.section.about .item{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  font-family: 'Raleway', sans-serif;
  background: #fff;
  text-align: center;
  padding: 15px 15px;
  height: 110px;
  -webkit-box-shadow: 0px 4px 10px 0px #00000025;
  box-shadow: 0px 4px 10px 0px #00000025;
  border-radius: 5px;
  margin-bottom: 30px;
}

.itemIcon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemText{
  text-align: left;
}

.itemText p{
  margin-top: 1rem;
}

.aboutSkills{
  padding-top: 3rem;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  font-family: 'Raleway', sans-serif;

}

.aboutSkillsBack{
  background: url(./assets/background.webp);
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0 40px;
  margin: 15px 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 15rem;
}

.aboutSkillsDark{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 29, 33, 0.8);
  content: '';
}

header .aboutSkillsDark{
  z-index: 1;
}


.aboutSkills li{
  margin: 20px auto;
}

.bar{
  background: #a7adab;
  width: 90%;
  display: block;
  height: 3px;
  border: 0.25px solid black;
  border-radius: 3;
  overflow: hidden;
}

.bar span{
  height: 3px;
  float: left;
  background-color: #00B16A;
}

.frontend{
  width: 30%;
  animation: anim 2s;
}

.backend{
  width: 2%;
  animation: anim 2s;
}

.design{
  width: 40%;
  animation: anim 2s;
}

.html{
  width: 50%;
  animation: anim 2s;
}

.javascript{
  width: 30%;
  animation: anim 2s;
}

.c{
  width: 20%;
  animation: anim 2s;
}

.java{
  width: 5%;
  animation: anim 2s;
}

@keyframes anim{
  0%{
    width: 0%;
  }
}

/*Porfolio Cards*/
.timeline{
  position: absolute;
  left: 50%; 
  width: 0px;
  height: 470px;
  border: 1px solid black;
}

.timelineItem{
  margin-left: -50px;
  margin-top: 210px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  font-size: 20px;
  background-color: white;
}


.portfolio{
  height: 80rem;
}

.portfolioContent.container{
display: flex;
justify-content: space-around;
}
.portfolioContent{
  display: flex;
  justify-content: center;

}
.portfolioCard{
  position: relative;
  height: 470px;
  width: 340px;
  display: block;
  background: white;
  -webkit-box-shadow: 0px 4px 10px 0px #00000025;
  box-shadow: 0px 4px 10px 0px #00000025;
  transition: all 0.4s linear;
}


.comingSoon{
  text-align: center;
  margin-top: 60%;
  font-size: 30px;
}

.portfolioCard .image{
  background: black;
  height: 400px;
  overflow: hidden;
}

.image img{
  height: 100%;
  width: 100%;
  transition: all 0.5s ;
}

.portfolioCard:hover .image img{
  opacity: 0.6;
  transform: scale(1.1);
}

.portfolioCard .cardContent{
  position: absolute;
  bottom: 0px;
  background: white;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cardContent .cardTitle{
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.cardContent .cardSubTitle{
  font-size: 18px;
  margin-bottom: 10px;
  color: #00B16A;
}

.cardBottom p{
  padding: 0px 20px;
  color: #666666;
  font-size: 16px;
  text-align: justify;
  line-height: 1.8em;
}

.cardBottom{
  display: none;
}

.section.contact .heading > *{
  color: #fff;
}

.contactBack{
  background: url(./assets/background.webp);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 90vh;
}

.aboutSkillsDark .heading{
  padding-top: 100px;
}

/*Contact*/

.contactContent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  flex-direction: column;
  text-align: center;
}

.contactMe{
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  color: white;
  opacity: 1;
}
.contactMe h1{
  font-size: 40px;
}

button{
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  background: rgba(0, 0, 0, 0);
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(0, 177, 106);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(0, 177, 106, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

.gearone{
  font-size: 40px;
  animation: gearRotation 4s infinite linear;
  margin-right: -4px;

}

@keyframes gearRotation{
  from{  transform: rotateZ(0deg)   }
  to  {  transform: rotateZ(360deg) }
}

.gear2{
  font-size: 40px;
  animation: gearRotation2 4s infinite linear;

}

@keyframes gearRotation2{
  from{  transform: rotateZ(390deg)   }
  to  {  transform: rotateZ(30deg) }
}



@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}




